{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col-6 categories">
		<h1 class="category-title">Categories</h1><br>

		{% for category in categories %}

			<a class="category" href="{{url_for('categoryDetails', name = category.name)}}">{{category.name}}</a><br>

		{% endfor %}
	</div>
		
	<div class="col-6 category-items">
		<h1 class="items-title">{{category_name}} Items ({{count}} items)</h1>
		{% for item in items %}
			<a class="item" href="{{url_for('itemDescription', category_name = category_name, item_title = item.title)}}">{{item.title}}</a><br>
		{% endfor %}
	</div>
</div>
{% endblock %}