{% extends "layout.html" %}
{% block body %}
	<form action="#" method="POST">
		<br>
		<h1>Edit Item: {{category_name}} | {{item_title}}</h1>
		<h2>Title</h2><br>
		<input type="text" name="title" value=""><br>
		<h2>Description</h2><br>
		<input type="text" name="description" value=""><br>
		<h2>Category</h2><br>
		<select name="category">
			<option value=1>Soccer</option>
			<option value=2>Basketball</option>
			<option value=3>Baseball</option>
			<option value=4>Frisbee</option>
			<option value=5>Snowboarding</option>
			<option value=6>Rock Climbing</option>
			<option value=7>SKating</option>
			<option value=8>Hockey</option>
		</select>
		<br><br>
		<input type="submit" value="Submit">
	</form>
{% endblock %}