{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 categories">
		<h1 class="category-title">Categories</h1><br>

		{% for category in categories %}

			<a class="category" href="{{url_for('categoryDetails', name = category.name)}}">{{category.name}}</a><br>

		{% endfor %}
		<br><br>
	</div>

	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 latestItems">
		{% if session.logged_in %}
		<a id="add-item" href="{{url_for('addItem')}}">Add Item</a>
		{% endif %}
		<h1 class="items-title">Latest Items</h1><br>
		
		{% for item in latestItems %}

			<a class="item" href = "{{url_for('itemDescription', category_name = item.category.name, item_title = item.title)}}">{{item.title}}({{item.category.name}})</a><br>

		{% endfor %}
	</div>
</div>
{% endblock %}
