{% extends "layout.html" %}
{% block body %}
	<div class = "categories">
		<h1>Categories</h1><br>

		{% for category in categories %}

			<a href = "{{url_for('categoryDetails', name = category.name)}}">{{category.name}}</a><br>

		{% endfor %}
	</div>

	<div class = "latestItems">
		<h1>Latest Items</h1><br>
		
		{% for item in latestItems %}

			<a href = "{{url_for('itemDescription', category_name = item.category.name, item_title = item.title)}}">{{item.title}}({{item.category.name}})</a><br>

		{% endfor %}
	</div>
	
{% endblock %}
