{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col-12 description">
		<h1 class="items-title">{{category_name}} | {{item.title}}</h1><br>
		<p>Description: {{item.description}}</p>
	</div>
	<br>
	<div class="col-12 edit-delete">
		{% if session.logged_in %}
		<a href="{{url_for('editItem', category_name=category_name, item_title=item.title)}}">Edit</a> | 
		<a href="{{url_for('deleteItem', category_name=category_name, item_title=item.title)}}">Delete</a>
		{% endif %}
	</div>
</div>
{% endblock %}