
body {
	background-color: #d2d4d8;
}

.pane {
	width: 80%;
	height: 90%;
	margin: auto;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

a.site-name, a.login-logout:link, a.site-name, a.login-logout:visited {
	color: #e1e3e8;
}

a.site-name, a.login-logout:hover, a.site-name, a.login-logout:active {
	color: #ffffff;
}

#navbar {
	background-color: #586e91;
	width: 100%;
	margin: auto;
}

#sitename {

	float: left;
}

.account {
	margin: 2em 0 auto auto;
	font-size: 1em;
	text-align: right;
	float: right;
}

.category-title, .items-title {
	color: #586e91;
}

/* There is no short hand format for this*/
a.category:link, a.category:visited, a.category:hover, a.category:active {
	color: #f47142;
}

a.item:link, a.item:visited, a.item:hover, a.item:active {
	color: #f45642;
}

#add-item {
	margin: 1.5em auto 1em auto;
}